/* Resets from gov.uk style */
body.full-width .govuk-width-container {max-width: 100vw;}
body.full-width .govuk-grid-row {margin-left: 0; margin-right: 0;}
body.full-width .govuk-footer__meta {margin-left: 0; margin-right: 0;}

#map {width: 100%; position: relative;}
#map img {width: 100%; height: 100%; object-fit: cover;}
#map button.filter-button {position: absolute; top: 0; right: 0; margin: 25px; z-index: 1;}
#geocoder input {width: 280px;}
.ui-autocomplete-loading {background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;}

.govuk-panel {padding: 20px}
.govuk-panel__title {font-size: 1.5rem}
.govuk-panel__body {font-size: 1rem;}

.nested-tabs .govuk-tabs__tab {font-size: 14px;}
.nested-tabs .govuk-tabs__list-item {padding: 14px 12px 16px}

/* Panels initial state */
#data-layers.sdca-panel {display: none;}
#view-results.sdca-panel {display: none;}

/* Results */
.govuk-panel--confirmation.failure {background-color: DarkRed;}


/* Drawing */
#drawing {height: 130px; bottom: 25px; right: 20px;}
body #application nav #drawing a {border-bottom: 0;}

