/* Resets from gov.uk style */
body .govuk-width-container {max-width: none; margin-left: 40px; margin-right: 40px;}

/* Layout */
#application {width: 100%; height: 600px; position: relative;}
#application form {width: 100%; height: 100%;}
#application nav {position: absolute; right: 0; width: 335px; height: 100%; z-index: 1000;}

/* Typography */
p.smaller {font-size: 0.73em;}
p.right {float: right;}

/* Main controls */
#application nav {color: white;}
#application nav a {color: white; text-decoration: none; border-bottom: 1px solid gray;}
#map .mapboxgl-ctrl-attrib {margin-right: 335px;}

/* Popup styling */
#map .mapboxgl-popup .mapboxgl-popup-content {min-width: 350px; max-height: 300px; overflow: scroll;}

/* Layer-specific popup styling */
#map .mapboxgl-popup.trafficcounts .mapboxgl-popup-content {min-width: 500px; max-width: 500px;}
#map .mapboxgl-popup.trafficcounts table td, #map .mapboxgl-popup.trafficcounts table th {font-size: 0.83em;}
#map .mapboxgl-popup.trafficcounts table th {text-align: left; line-height: 2em;}
#map .mapboxgl-popup.trafficcounts table td {text-align: right;}

/* Form styling */
input[type=checkbox] {margin-right: 5px;}

#selector {float: left; width: 95px; height: 100%; background-color: #333; opacity: 0.85; overflow-y: auto;}
#selector ul {height: 100%; list-style: none; width: 100%; margin: 0; padding: 0;}
#selector ul li {margin-left: auto; margin-right: 0; border-top: 1px solid gray; border-left: 4px solid gray; position: relative;}
#selector ul li:first-child {border-top: 0;}
#selector ul li:last-child {border-bottom: 1px solid gray;}
#selector ul li.selected {background-color: black; border-left: 4px solid brown;}
#selector ul li a {font-size: 0.8em; padding: 17px 7px; display: block; text-align: center;}
#selector ul li:hover {background-color: #111;}
#selector ul li.selected:hover {background-color: black;}
#selector ul li a img {width: 40px;}
#selector input {position: absolute; left: 6px; top: 6px;}

/* Template copying */
.template {display: none;}

/* Toolbar */
#sections {width: 200px; height: calc(100% - 20px); position: absolute; right: 0; background-color: black; opacity: 0.85; margin-top: 0; padding: 0 20px 20px; font-size: 0.92em; overflow: scroll;}

/* Sections */
#sections #compare > div {opacity: 0.5;}
#sections #compare div.enabled {opacity: 1;}
#sections #compare div p {margin-bottom: 4px;}
#sections #compare div .controls label {width: 45px; display: inline-block;}
#sections ul {margin: 5px; padding: 5px;}
#sections ul li {margin-bottom: 7px;}

#sections div.filters {background: rgba(255,255,255,0.1); padding: 0 0 5px; margin: 20px 0 15px;}
#sections div.filters h3 {background-color: rgba(255,255,255,0.2); padding: 2px 5px; margin: 0; font-size: 1.1em;}
#sections div.filters p {margin: 0;}
#sections div.filters > div {padding: 5px 5px;}
#sections div.filters > h4 {padding-left: 5px; padding-right: 5px;}
#sections h4 {font-size: 1em; font-weight: normal; padding: 0; margin: 12px 0 2px;}
#sections .controls {padding: 0; margin: 0;}
#sections div.filters ul {list-style: none; margin: 0; padding: 0;}
#sections div.filters ul li {margin-bottom: 0;}		/* Reset main rule above */

/* Legend */
#legend {background-color: #515151; color: #ffffff; padding: 15px; border-radius: 10px; opacity: 0.85; width: auto; max-width: 140px;}

/* Tabs */
ul.tabs {margin-left: 0; padding-left: 0; }
ul.tabs li {display: inline; margin-right: 5px;}
ul.tabs li a {padding: 2px 10px; color: gray; border: 1px solid white; border-bottom: 0;}
ul.tabs li.ui-state-active a {background-color: #333; color: white;}

/* Geocoder */
#geocoder input {width: 280px;}
.ui-autocomplete-loading {background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;}

/* Results */
#results {position: absolute; top: 15px; right: 350px; height: calc(100% - 15px - 120px - 50px - 20px); width: calc(250px - 20px); background: rgba(0,0,0,0.8); z-index: 95; padding: 10px; overflow-y: auto;}
#results {display: none;}	/* Will be overriden to appear upon result */
#results h3 {margin: 0 0 10px; padding: 0; color: #e6e6e6;}
#results p, #results table {font-size: 0.69em;}
#results p {margin: 0 0 5px; padding-bottom: 0;}
#results table th, #results table td {text-align: left; border-bottom: 1px solid #444;}
#results table td.notes {min-width: 100px;}


/* Mobile styles; see: https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions */
#nav-mobile {display: none;}
@media only screen and (min-width: 320px) and (max-width: 768px) {
	#nav-mobile {display: block; cursor: pointer; position: absolute; top: 40px; right: 10px; background: white url(../images/hamburger.svg) no-repeat center center; opacity: 0.9; height: 10px; width: 10px; padding: 17px; border-radius: 20px; box-shadow: 5px 5px 5px #aaa;}
	#geocoder {top: 14px; right: 80px;}
	#geocoder input {width: 100%;}
	#application nav {display: none;}	/* Default, toggled in JS */
	#application nav {width: 260px; z-index: 1002;}
	#selector {width: 90px;}
	#selector ul li a {font-size: 0.83em;}
	#sections {width: 150px; padding: 0 10px 20px; font-size: 0.83em;}
	#map .mapboxgl-ctrl-attrib {margin-right: 10px /* default */;}
}

